body
{
	background: #ffffff url('../../images/bg_body_red.png') repeat-x top;
}

body.caption
{
	background: #ffffff url('../../images/bg_body_red_caption.png') repeat-x top;
}

a
{
	color: #BE0511;
	text-decoration: none;
}

a:hover
{
	color: #E76D76;
	text-decoration: none;
}

.submenu li a:hover, .submenu li a:active
{
	background: transparent url('../../images/bg_submenu_selected_red.png') repeat-x;
	color: #fff;
}